@media screen and (max-width: 1126px){
 nav{
    flex-direction: column;
    width: 100%;
    justify-content: center;
 } 
 nav ul{
    justify-content: center;
 } 
 
 .login-box{
    margin-left: 811px;
 }
 .slider{
    overflow: hidden;
    margin: 0px;
 }
 .products-variety-cart {
    overflow: scroll;
 }
 .items-cart{
    overflow: scroll;
 }
 /* for responsivness mane code m hi width of input in search box =100% kr de always ke leye toh alag alag nhi krne padh rhe abh mughe. */
/* .search input{
    width: 100;
} */

}
@media screen and (max-width: 993px){
    .login-box{
        margin-left: 300px;
     }
}
@media screen and (max-width: 440px){
    .login-box{
        margin-left: 180px;
     }
  
}
